@import '../../scss/mixin.scss';

section {
  padding: 10px;
  background-color: #333;

  header {
    nav {
      ul {
        @include flex-between-align-center;

        .links {
          a {
            margin: 0 5px;
          }
        }
      }
    }
  }

  a {
    color: #fff;
  }
}