@mixin container {
  width: 100%;
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
}

@mixin flex-between-align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}