@mixin container {
  // default xl
  width: 100%;
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

@mixin container-lg {
  // default lg
  max-width: 992px;
}

@mixin container-md {
  // default md
  max-width: 768px;
}

@mixin container-sm {
  // default sm
  max-width: 576px;
}

@mixin flex-between-align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}